
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--Cdz {
  height: 5.8rem;
  font-weight: 700;
  line-height: 1.4475;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  font-size: 4rem;
  color: #000000;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 3.15rem;
  width: 100%;
  text-align: center;
}
