
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.check-dY8 {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 190, 190, 0.7099999785);

  .rectangle-10-y6C {
    background-color: #ffdec2;
    width: 90rem;
    height: 100rem;
    position: absolute;
    left: 4.3rem;
    top: 4rem;
  }
  .rectangle-12-J8U {
    top: 7.2rem;
    background-color: #fbb2e2;
    width: 81.9rem;
    height: 93.7rem;
    position: absolute;
    left: 8.3rem;
  }
  .group-10-pcc {
    background-color: #b2f7fb;
    display: flex;
    justify-content: center;
    line-height: 1.4475;
    top: 94.6rem;
    font-weight: 700;
    white-space: nowrap;
    align-items: center;
    color: #000000;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    left: 75.2rem;
    font-size: 2.4rem;
    border-radius: 1.5rem;
    width: 11.9rem;
    height: 4.5rem;
    position: absolute;
  }
  .rectangle-13-tMa {
    width: 75rem;
    height: 45rem;
    position: absolute;
    left: 11.8rem;
    top: 19.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .item--Qqi {
    height: 9.3rem;
    position: absolute;
    font-size: 6.4rem;
    font-weight: 700;
    width: 15.4rem;
    left: 16.7rem;
    line-height: 1.4475;
    color: #000000;
    align-items: center;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    white-space: nowrap;
    top: 10.2rem;
    display: flex;
    justify-content: center;
  }
  .item--VsA {
    color: #000000;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    height: 20.9rem;
    display: flex;
    line-height: 1.4475;
    top: 68.65rem;
    font-size: 3.6rem;
    font-weight: 700;
    width: 73.5rem;
    position: absolute;
    left: 11.6rem;
  }
  .cat-61383661280-2-1U8 {
    left: 102.4rem;
    top: 13.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 81.4rem;
    height: 81.4rem;
    position: absolute;
  }
  .rectangle-14-8oe {
    width: 192rem;
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6000000238);
  }
  .group-11-UMi {
    left: 71rem;
    top: 42.6rem;
    background-color: #b2f7fb;
    border-radius: 3.5rem;
    padding: 9.133rem 3.1rem 2.5rem 3.1rem;
    width: 50rem;
    height: 27.7rem;
    align-items: flex-end;
    box-sizing: border-box;
    position: absolute;
    display: flex;

    .clear-mLp {
      flex-shrink: 0;
      margin-right: 9.3175rem;
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item--Jbe {
      display: flex;
      font-weight: 700;
      color: #000000;
      font-family: Zen Maru Gothic, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 9.283rem 4.467rem 0rem;
      max-width: 15.2rem;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      line-height: 1.4475;
    }
    .done-outline-aJG {
      flex-shrink: 0;
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .done-outline-tpk {
    box-sizing: border-box;
    width: 9.6rem;
    position: absolute;
    top: 55.9rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.88rem 0rem 0.8rem 0rem;
    height: 9.6rem;
    left: 54.3rem;
    overflow: hidden;
    background-image: url('REPLACE_IMAGE:687:122');

    .vector-PmW {
      width: 9.6rem;
      height: 7.92rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
