
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.first-main-rGk {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 190, 190, 0.7099999785);
  box-sizing: border-box;
  padding: 17.2rem 13.4rem 1.4rem 7.3rem;
  width: 100%;

  .item--xag {
    margin-bottom: 41rem;
    width: 100%;
    text-align: center;
    font-size: 12.8rem;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-cze4-TXS {
    width: 100%;
    height: 29.8rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .auto-group-bgha-L5S {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 78.487rem 0.5rem 0rem;
      width: 72.6134rem;
      height: 18.1rem;

      .frame-2-FCQ {
        width: 72.6134rem;
        height: 17.8112rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: flex-start;

        .user-16996351280-2-mwS {
          flex-shrink: 0;
          margin: 0rem 14.5rem 0rem 0rem;
          width: 16.1rem;
          height: 16.7rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
        .book-3125471280-1-H96 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 14.5rem;
          width: 14.5134rem;
          height: 17.8112rem;
          cursor: pointer;
        }
        .user-16996351280-1-PT2 {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0rem;
          width: 13rem;
          height: 16.659rem;
          cursor: pointer;
          object-fit: cover;
        }
      }
      .frame-1-iEQ {
        column-gap: 16.15rem;
        align-items: center;
        width: 70rem;
        height: 7rem;
        position: absolute;
        left: 2.25rem;
        top: 11.1rem;
        display: flex;

        .item--EiY {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 4.8rem;
          color: #ffffff;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          line-height: 1.4475;
          flex-shrink: 0;
        }
        .item--kgt {
          justify-content: center;
          font-size: 4.8rem;
          line-height: 1.4475;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 700;
          color: #ffffff;
          white-space: nowrap;
        }
        .item--HB2 {
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.4475;
          color: #ffffff;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          display: flex;
          white-space: nowrap;
        }
      }
    }
    .auto-group-skme-Con {
      width: 20.2rem;
      font-weight: 700;
      line-height: 1.4475;
      font-family: Zen Maru Gothic, 'Source Sans Pro';
      white-space: nowrap;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:2140322b8c0d70f0ea6dbafcab50c93c924da090');
      height: 100%;
      font-size: 6.4rem;
      color: #ffffff;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0.4rem 0.8rem 0.4rem rgba(0, 0, 0, 0.75);
      background-position: center;
    }
  }
}
