
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.main-character-introduction-4MJ {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 190, 190, 0.7099999785);

  .rectangle-10-zVr {
    width: 90rem;
    height: 100rem;
    position: absolute;
    left: 4.3rem;
    top: 4rem;
    background-color: #ffdec2;
  }
  .rectangle-12-Wyz {
    background-color: #fbb2e2;
    border-radius: 3.5rem;
    width: 81.9rem;
    height: 93.7rem;
    position: absolute;
    left: 8.3rem;
    top: 7.2rem;
  }
  .group-10-cn8 {
    width: 11.9rem;
    cursor: pointer;
    top: 94.6rem;
    font-weight: 700;
    line-height: 1.4475;
    background-color: #b2f7fb;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    left: 75.2rem;
    font-size: 2.4rem;
    color: #000000;
    position: absolute;
    align-items: center;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    border-radius: 1.5rem;
  }
  .rectangle-13-DG8 {
    left: 11.8rem;
    top: 19.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 75rem;
    height: 45rem;
    position: absolute;
  }
  .item--wC8 {
    height: 9.3rem;
    top: 10.2rem;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    white-space: nowrap;
    width: 15.4rem;
    left: 16.7rem;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-size: 6.4rem;
    line-height: 1.4475;
    position: absolute;
    display: flex;
    color: #000000;
  }
  .item--QrQ {
    line-height: 1.4475;
    width: 73.5rem;
    position: absolute;
    left: 11.6rem;
    display: flex;
    font-size: 3.6rem;
    font-weight: 700;
    height: 20.9rem;
    top: 68.65rem;
    color: #000000;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
  }
  .cat-61383661280-2-hyv {
    vertical-align: top;
    width: 81.4rem;
    height: 81.4rem;
    position: absolute;
    left: 102.4rem;
    top: 13.3rem;
    object-fit: cover;
  }
}
