
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.save-story-tqi {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 12rem 9.7rem 1.4rem 9.7rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 190, 190, 0.7099999785);
  position: relative;
  align-items: flex-end;

  .auto-group-rpbi-ngC {
    margin-bottom: 5.5rem;
    width: 100%;
    height: 24.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .rectangle-22-ipk {
      height: 100%;
      background-size: 100% 335.391%;
      background-position: 0rem -23.2rem;
      background-image: url('REPLACE_IMAGE:52d9687758732fa1aa1a74a55d523cda54820848');
      border-radius: 3.5rem;
      flex-shrink: 0;
      margin-right: 9.6rem;
      width: 81.5rem;

      .rectangle-22-fzt {
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 3.5rem;
        padding: 3.7rem 2.7rem 2.7rem 2.7rem;
        width: 100%;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .item--bde {
          margin-right: 40.1rem;
          font-size: 4rem;
          line-height: 1.4475;
          color: #000000;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          text-align: center;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--sr4 {
          margin: 0rem 34.2rem 3.9rem 0rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.4475;
          color: #000000;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-20240109-P3i {
          white-space: nowrap;
          margin-left: 56.5rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.4475;
          color: #000000;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          font-size: 3.2rem;
          flex-shrink: 0;
        }
      }
      .rectangle-22-ipk-bg {
        width: 81.5rem;
        height: 24.3rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:52d9687758732fa1aa1a74a55d523cda54820848');
      }
    }
    .rectangle-22-Mue {
      flex-shrink: 0;
      width: 81.5rem;
      height: 100%;
      background-size: 100% 240.08%;
      background-position: 0 -7.2197rem;
      background-image: url('REPLACE_IMAGE:089236f327785dcb78a1fa3ff598ce65c4f8b346');
      border-radius: 3.5rem;

      .rectangle-22-ugG {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 3.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-direction: column;
        padding: 3.7rem 10.8rem 2.7rem 5.6rem;
        width: 100%;
        height: 100%;
        display: flex;

        .item--e84 {
          font-size: 4rem;
          color: #000000;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          flex-shrink: 0;
          width: 100%;
          font-weight: 700;
          line-height: 1.4475;
          white-space: nowrap;
          text-align: center;
        }
        .item--kwn {
          margin-bottom: 3.9rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.4475;
          color: #000000;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-00001122-5z4 {
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          line-height: 1.4475;
          font-weight: 700;
          color: #000000;
          width: 100%;
          text-align: center;
        }
      }
      .rectangle-22-Mue-bg {
        width: 81.5rem;
        height: 24.3rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:089236f327785dcb78a1fa3ff598ce65c4f8b346');
      }
    }
  }
  .auto-group-9lvg-gU4 {
    margin-bottom: 5.5rem;
    width: 100%;
    height: 24.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .rectangle-22-228 {
      background-image: url('REPLACE_IMAGE:b378dc5b9cacd76d0f4be960fcb0c5018a485e70');
      border-radius: 3.5rem;
      flex-shrink: 0;
      margin-right: 9.6rem;
      width: 81.5rem;
      height: 100%;
      background-size: 100% 500.35%;
      background-position: 0.4rem -17.2425rem;

      .rectangle-22-Au2 {
        width: 100%;
        border-radius: 3.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 3.1rem 2.7rem 2.8rem 2.7rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        box-sizing: border-box;

        .item--JkL {
          text-align: center;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          font-size: 4rem;
          line-height: 1.4475;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
        }
        .item--pya {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.4475;
          color: #000000;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
        }
        .item-00001122-A1r {
          width: 100%;
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.4475;
          color: #000000;
          font-family: Zen Maru Gothic, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 700;
          white-space: nowrap;
        }
      }
      .rectangle-22-228-bg {
        height: 24.3rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:b378dc5b9cacd76d0f4be960fcb0c5018a485e70');
        width: 81.5rem;
      }
    }
    .rectangle-22-NNp {
      width: 81.5rem;
      height: 24.3rem;
      background-color: #d9d9d9;
      border-radius: 3.5rem;
      flex-shrink: 0;
    }
  }
  .auto-group-hbfz-iBn {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 100%;

    .rectangle-22-fcp {
      margin-right: 9.6rem;
      width: 81.5rem;
      height: 24.3rem;
      background-color: #d9d9d9;
      border-radius: 3.5rem;
      flex-shrink: 0;
    }
    .rectangle-22-QaQ {
      background-color: #d9d9d9;
      border-radius: 3.5rem;
      flex-shrink: 0;
      width: 81.5rem;
      height: 24.3rem;
    }
  }
  .group-10-x68 {
    background-color: #d9d9d9;
    width: 20.6rem;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    flex-shrink: 0;
    height: 8.7rem;
    font-size: 4rem;
    line-height: 1.4475;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    text-align: center;
    justify-content: center;
  }
}
