
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.user-information-b96 {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 190, 190, 0.7099999785);
  filter: blur(0.2rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 108rem;

  .rectangle-10-X2k {
    width: 80rem;
    height: 93.3rem;
    position: absolute;
    left: 9.7rem;
    top: 7.3rem;
    background-color: #d6a982;
    border-radius: 3.5rem;
  }
  .item--Rdv {
    color: #ffffff;
    position: absolute;
    left: 20.7rem;
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    white-space: nowrap;
    width: 15.4rem;
    height: 9.3rem;
    top: 15.4rem;
    line-height: 1.4475;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
  }
  .item--bgp {
    align-items: center;
    font-size: 4.8rem;
    line-height: 1.4475;
    color: #ffffff;
    width: 8.7rem;
    height: 7rem;
    left: 23.4rem;
    justify-content: center;
    top: 31.8rem;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    position: absolute;
    display: flex;
    font-weight: 700;
    white-space: nowrap;
  }
  .item--H3r {
    width: 8.7rem;
    height: 7rem;
    top: 39.1rem;
    display: flex;
    font-size: 4.8rem;
    color: #ffffff;
    position: absolute;
    left: 30.1rem;
    font-weight: 700;
    line-height: 1.4475;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item--Nb6 {
    top: 55.1rem;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    height: 7rem;
    position: absolute;
    display: flex;
    font-size: 4.8rem;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.7rem;
    left: 30.1rem;
  }
  .item--V9v {
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    height: 7rem;
    position: absolute;
    left: 30.1rem;
    display: flex;
    font-size: 4.8rem;
    line-height: 1.4475;
    color: #ffffff;
    width: 15rem;
    top: 74rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .item--oAc {
    top: 64.3rem;
    align-items: center;
    height: 7rem;
    position: absolute;
    justify-content: center;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.4475;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    left: 23.4rem;
    display: flex;
    width: 8.7rem;
    color: #ffffff;
    white-space: nowrap;
  }
  .item--V3S {
    width: 8.7rem;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.4475;
    color: #ffffff;
    white-space: nowrap;
    height: 7rem;
    position: absolute;
    display: flex;
    align-items: center;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    left: 23.4rem;
    top: 48.3rem;
    justify-content: center;
  }
  .group-10-nYL {
    height: 6.2927rem;
    top: 91.7rem;
    color: #000000;
    cursor: pointer;
    align-items: center;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    display: flex;
    background-color: #d9d9d9;
    font-weight: 500;
    line-height: 1.4475;
    white-space: nowrap;
    width: 22.6rem;
    position: absolute;
    left: 34rem;
    justify-content: center;
    font-size: 3.2rem;
    border-radius: 2rem;
  }
  .group-11-2ha {
    top: 91.7rem;
    align-items: center;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    white-space: nowrap;
    width: 13rem;
    left: 15.7rem;
    color: #000000;
    line-height: 1.4475;
    font-weight: 500;
    background-color: #d9d9d9;
    height: 6.2927rem;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    border-radius: 2rem;
  }
  .line-1-tzg {
    width: 60.3rem;
    height: 0.2rem;
    position: absolute;
    left: 15.7rem;
    top: 26.1rem;
    background-color: #ffffff;
  }
}
