html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 192rem;
}

.save-story-tqi {
  box-sizing: border-box;
  padding: 12rem 9.7rem 1.4rem 9.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 190, 190, 0.7099999785);
}

.save-story-tqi .auto-group-9lvg-gU4 {
  margin-bottom: 5.5rem;
  width: 100%;
  height: 24.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.save-story-tqi .auto-group-9lvg-gU4 .rectangle-22-228 {
  margin-right: 9.6rem;
  width: 81.5rem;
  height: 100%;
  background-size: 100% 500.35%;
  background-position: 0.4rem -17.2425rem;
  border-radius: 3.5rem;
  flex-shrink: 0;
}

#story1 {
  background-image: url("/static/img/background/whimsy flight.png");
}

#story2 {
  background-image: url("/static/img/background/twilight bastion.png");
}

#story3 {
  background-image: url("/static/img/background/nymph's odyssey.png");
}

.save-story-tqi .auto-group-9lvg-gU4 .rectangle-22-228 .rectangle-22-Au2 {
  box-sizing: border-box;
  padding: 3.1rem 2.7rem 2.8rem 2.7rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  word-wrap: break-word;
}

.save-story-tqi .auto-group-9lvg-gU4 .rectangle-22-228 .rectangle-22-Au2 .item--JkL {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  white-space: nowrap;
  flex-shrink: 0;
}

.save-story-tqi .auto-group-9lvg-gU4 .rectangle-22-228 .rectangle-22-Au2 .item--pya {
  font-family: '自定義注音字體', sans-serif;
  margin-bottom: 4.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  white-space: normal;
  flex-shrink: 0;
}

.save-story-tqi .auto-group-9lvg-gU4 .rectangle-22-228 .rectangle-22-Au2 .item-00001122-A1r {
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  white-space: nowrap;
  flex-shrink: 0;
}

.save-story-tqi .auto-group-9lvg-gU4 .rectangle-22-NNp {
  margin-right: 9.6rem;
  width: 81.5rem;
  height: 24.3rem;
  background-color: #d9d9d9;
  border-radius: 3.5rem;
  flex-shrink: 0;
}

.save-story-tqi .group-10-x68 {
  width: 20.6rem;
  height: 8.7rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
