main {
  height: -webkit-fill-available;
  padding: 4vmin;
  display: flex;
}

.display_container {
  flex: 10;
  display: flex;
  flex-direction: column;
  /* 相框樣式 */
  border: 0.45vw solid white;
  border-radius: 3vw 0 0 3vw;
  padding: 1vw;
  border-width: 1vw 0 1vw 1vw;
  border-style: solid;
  border-color: #2f2d2d #434040 #4f4c4c #434040;
  background: #f5f5f5;
  background-image: linear-gradient(#525252, #333333);
  box-shadow: inset 0 0.2vw 0.5vw rgba(0, 0, 0, 0.6), 0 0.5vw 0.2vw rgba(0, 0, 0, 0.1), 0 1vw 2vw rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* 反光效果 */
.display_container::before {
  content: "";
  position: absolute;
  top: -29vh;
  left: -19vw;
  width: 40vw;
  height: 40vh;
  transform: rotateZ(40deg);
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.image_container {
  width: -webkit-fill-available;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_container {
  flex: 10;
  display: flex;
  flex-direction: column;
  /* 相框樣式 */
  border: 0.45vw solid white;
  border-radius: 0 3vw 3vw 0;
  padding: 0 1.1vmin;
  border-width: 1vw 1vw 1vw 0;
  border-style: solid;
  border-color: #2f2d2d #434040 #4f4c4c #434040;
  background: #f5f5f5;
  background-image: linear-gradient(#525252, #333333);
  box-shadow: inset 0 0.2vw 0.5vw rgba(0, 0, 0, 0.6), 0 0.5vw 0.2vw rgba(0, 0, 0, 0.1), 0 1vw 2vw rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
}

.title_container {
  flex: 1.75;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(3.57vmin, 2.5vmin, 2.5vmin);
}

.content_container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
  box-shadow: inset 0 0.2vw 0.5vw rgba(0, 0, 0, 0.6), 0 0.5vw 0.2vw rgba(0, 0, 0, 0.1), 0 1vw 2vw rgba(0, 0, 0, 0.8);
  padding: 1.75vmin 1.75vmin 0 1.75vmin;
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.story_container {
  font-family: '自定義注音字體', sans-serif;
}

.button_container {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.go_home_button,
.save_story_button {
  font-size: clamp(3.57vmin, 2.5vmin, 2.5vmin);
  padding: 1.5vh 3vw;
}

.save_story_button {
  display: none;
}

.title,
.story,
.page {
  display: flex;
  color: antiquewhite;
  font-size: clamp(3.5vmin, 2.5vmin, 2.5vmin);
}

.story {
  flex: 10;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-button {
  display: none;
}

.page {
  flex: 1;
  width: -webkit-fill-available;
  padding: 0 3vw;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: clamp(2vmin, 2.5vmin, 2.5vmin);
}

.story span {
  letter-spacing: 0.5vmin;
  line-height: 8vmin;
  font-family: "自定義注音字體", "自定義字體", sans-serif;
}

.fixed_container {
  position: fixed;
}

.navigation_button {
  position: fixed;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  backdrop-filter: blur(0.06vmin);
  border: none;
  cursor: pointer;
  padding: 0 1vw;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease, display 0.5s;
}

.navigation_button:hover {
  opacity: 1;
}

.navigation_button.prev {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  left: 0;
}

.navigation_button.next {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  right: 0;
}

.navigation_button img {
  width: 8vmin;
}

.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.5vmin;
  justify-content: space-evenly;
}

#popup_container_with_button .popup_content {
  height: 18vmin;
}

#popup_container_with_button .ftf_pink_button {
  padding: 0 4.5vmin;
}

#popup_message_with_button {
  padding-top: 2vmin;
}

.popup_button_container {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
}

.popup_button {
  border-color: rgb(255 148 183);
  border-width: 0.5vmin;
  border-radius: 3vmin;
  padding: 0.62vmin 2.75vmin;
  background-color: rgb(255 73 132);
  cursor: pointer;
  text-align: center;
}

.popup_content, .popup_button {
  font-size: clamp(2.75vmin, 2.5vmin, 2.5vmin);
}

.popup_button {
  color: aliceblue;
  -webkit-text-stroke-width: 0.01vmin;
  -webkit-text-stroke-color: rgb(48, 48, 48);
}
