
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 81.5rem;
}.rectangle-22-15e {
  width: 100%;
  height: 24.3rem;
}
.rectangle-22-15e .rectangle-22-m4p {
  width: 100%;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.rectangle-22-15e .rectangle-22-m4p .rectangle-22-8g4 {
  width: 100%;
  height: 24.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3.5rem;
}
