{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>童話工廠 Register</title>
    <link rel="stylesheet" href="{% static 'css/ftf_common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register_new.css' %}" />
  </head>
  <body id="background_container">
    <div id="left_container">
      <div id="title_container">童話工廠</div>
      <div id="form_container">
        <form action="">
          <div id="word_1_container">
            <input class="word_style" type="text" placeholder="請輸入你的帳號" /><br />
            <br />
            <input class="word_style" type="text" placeholder="請輸入你的密碼" /><br />
            <br />
            <input class="word_style" type="text" placeholder="再輸入一次密碼" /><br />
            <br />
            <input class="word_style" type="text" placeholder="請設定你的暱稱" /><br />
            <br />
          </div>
          <div id="word_2_container">
            <button id="buttom" type="submit">註冊</button>
          </div>
        </form>
      </div>
    </div>
    <div id="right_container"></div>
    <script src="{% static 'js/ftf_common.js' %}"></script>
  </body>
</html>
