{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Social Features</title>
    <link rel="stylesheet" href="{% static 'css/ftf_common_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/display/storybook_display_new.css' %}" />
  </head>
  <body class="ftf_background">
    <main>
      <section class="display_container">
        <div class="image_container">
          <img src="{% static 'img/web_page/background/whimsy flight.png' %}" alt="" />
        </div>
      </section>
      <section class="info_container">
        <div class="title_container">
          <span class="title">白雪公主</span>
        </div>
        <div class="content_container">
          <div class="story">
            <span>
              在一個遙遠的村莊裡，有一個善良聰明的小女孩，她戴著一頂鮮豔的紅色帽子，所以大家都叫她小紅帽。
            </span>
          </div>
          <div class="page" id="page"></div>
        </div>
        <div class="button_container">
          <button class="go_home_button ftf_button ftf_hover_button">回到首頁</button>
          <button class="save_story_button ftf_button ftf_hover_button">珍藏故事</button>
        </div>
      </section>
      <section class="fixed_container">
        <button class="navigation_button prev"><img src="{% static 'img/web_page/vector/previous page new.png' %}" alt="" /></button>
        <button class="navigation_button next"><img src="{% static 'img/web_page/vector/next page new.png' %}" alt="" /></button>
        <div class="popup_container" id="popup_container_with_button">
          <div class="popup_content ftf_pink_button">
            <p id="popup_message_with_button"></p>
            <div class="popup_button_container">
              <button id="popup_confirm_with_button" class="popup_button ftf_hover_button">Ｖ</button>
              <button id="popup_cancel_with_button" class="popup_button ftf_hover_button">Ｘ</button>
            </div>
          </div>
        </div>
        <div class="popup_container" id="popup_container_without_button">
          <div class="popup_content ftf_pink_button">
            <p id="popup_message_without_button">珍藏成功！</p>
          </div>
        </div>
      </section>
    </main>
    <script src="{% static 'js/ftf_common_new.js' %}"></script>
    <script src="{% static 'js/display/storybook_display_new.js' %}"></script>
  </body>
</html>
