{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Display</title>
    <link rel="stylesheet" href="{% static 'css/ftf_common_new.css' %}">
    <link rel="stylesheet" href="{% static 'css/display/storybook_display_new.css' %}">
</head>
<body class="ftf_background">

<main>
    <section class="display_container">
        <!-- 图片显示区域 -->
        <div class="image_container">
            <img id="story_image" src="" alt="Image">
        </div>
    </section>
    <section class="info_container">
        <div class="title_container">
            <span class="title">白雪公主</span>
        </div>
        <div class="content_container">
            <!-- 文章显示区域 -->
            <div class="story_container" id="story_container">
                <!-- 保留第一段文章的显示区域 -->
            </div>
        </div>
        <div class="page" id="page">第 <span id="page_number">1</span> 頁 / 共 <span id="max_page"></span> 頁</div>
        <div class="button_container">
            <button class="go_home_button ftf_button ftf_hover_button">回到首頁</button>
            <button class="save_story_button ftf_button ftf_hover_button">珍藏故事</button>
        </div>
    </section>
    <section class="fixed_container">
        <button class="navigation_button prev"><img src="{% static 'img/web_page/vector/previous page new.png' %}" alt="" /></button>
        <button class="navigation_button next"><img src="{% static 'img/web_page/vector/next page new.png' %}" alt="" /></button>
        <div class="popup_container" id="popup_container_with_button">
            <div class="popup_content ftf_pink_button">
                <p id="popup_message_with_button"></p>
                <div class="popup_button_container">
                    <button id="popup_confirm_with_button" class="popup_button ftf_hover_button">Ｖ</button>
                    <button id="popup_cancel_with_button" class="popup_button ftf_hover_button">Ｘ</button>
                </div>
            </div>
        </div>
        <div class="popup_container" id="popup_container_without_button">
            <div class="popup_content ftf_pink_button">
                <p id="popup_message_without_button">珍藏成功！</p>
            </div>
        </div>
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/ftf_common_new.js' %}"></script>
<script>
$(document).ready(function() {
    var pageElement = $('#page_number');
    var maxPageElement = $('#max_page');
    var contentContainer = $('.content_container .story_container');
    var imageContainer = $('.display_container .image_container');

    var goHomeButton = $('.go_home_button');
    var saveStoryButton = $('.save_story_button');
    var prevPageButton = $('.navigation_button.prev');
    var nextPageButton = $('.navigation_button.next');

    var articleList = JSON.parse('{{ article_list_json|escapejs }}');
    var maxPage = articleList.length;
    var pageNumber = 1;

    function renderPage(page) {
        var article = articleList[page - 1];
        $('#page_number').text(page);
        $('#max_page').text(maxPage);
        $('#story_container').html('<p>' + article.text + '</p>');
        $('#story_image').attr('src', article.image_path);
    }

    renderPage(pageNumber);

    goHomeButton.on('click', function() {
        window.location.href = '/';
    });

    saveStoryButton.on('click', function() {
        // Add your logic to save the story
    });

    prevPageButton.on('click', function() {
        if (pageNumber > 1) {
            pageNumber--;
            renderPage(pageNumber);
        }
    });

    nextPageButton.on('click', function() {
        if (pageNumber < maxPage) {
            pageNumber++;
            renderPage(pageNumber);
        } else {
            contentContainer.html('故事结束');
        }
    });
});
</script>

</body>
</html>
