.background_1 {
    height: 100vh;
    background-image: url("img/main_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* @media screen and (max-width:800px){
    .background_1{
        height: 300px;
    }
} */