{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>童話工廠 ChatGPT</title>
    <link rel="stylesheet" href="{% static 'css/ftf_common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/talk_to_chatgpt.css' %}" />
  </head>
  <body class="ftf_background">
    <main>
      <section class="search_container">
        <input type="text" class="search" id="search" name="file_name" placeholder="輸入您要搜尋的檔案..." />
        <div class="selected_file_container">
          <div class="title_container">
            <span class="title">已選取的檔案</span><span class="count"></span>
          </div>
          <div class="file_list"></div>
        </div>
        <div class="search_result_container">
          <div class="title_container">
            <span class="title">搜尋結果</span><span class="count"></span>
          </div>
          <div class="file_list"></div>
        </div>
      </section>
      <section class="chat_room_container">
        <div class="prompt" id="prompt">{{ prompt }}</div>
        <textarea class="ask_container" onfocus="clearDefaultText()" onblur="restoreDefaultText()"></textarea>
        <textarea class="display_container" readonly></textarea>
      </section>
    </main>
    <script src="{% static 'js/ftf_common.js' %}"></script>
    <script src="{% static 'js/talk_to_chatgpt.js' %}"></script>
  </body>
</html>
