{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Create Story</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A500%2C700" />
    <link rel="stylesheet" href="{% static 'css/background.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu/create_story_new.css' %}" />
  </head>
  <body>
    <section class="container">
      <header>
        <img class="go_home_button" src="{% static 'img/web_page/vector/return_img.png' %}" alt="return_img" />
        <p class="header_text">
          創造一個新故事...<br />
          你需要..
        </p>
      </header>      
      <div class="select_button">
        <div class="button_container">
          <button type="button" class="item_button">
            <span class="button_text" id="main_role_button">主&nbsp;&nbsp;角</span>
          </button>
        </div>
        <div class="button_container middle_button_container">
          <button type="button" class="item_button">
            <span class="button_text" id="sup_role_button">配&nbsp;&nbsp;角</span>
          </button>
        </div>
        <div class="button_container">
          <button type="button" class="item_button">
            <span class="button_text" id="item_button">道&nbsp;&nbsp;具</span>
          </button>
        </div>
        <div class="background_image"></div>
      </div>
      <div class="button_container create_button_container">
        <button type="button" class="create_button">
          <span class="button_text" id="create_button">開始創造故事</span>
        </button>
      </div>
    </section>
    <script>
        function redirectTo(path) {
            window.location.href = `/story/${path}`;
        }
        document.getElementById("main_role_button").addEventListener("click", () => redirectTo("selectmainrole"));
        document.getElementById("sup_role_button").addEventListener("click", () => redirectTo("selectsuprole"));
        document.getElementById("item_button").addEventListener("click", () => redirectTo("selectitem"));
        document.getElementById("create_button").addEventListener("click", () => redirectTo("loading"));
        document.getElementsByClassName("go_home_button")[0].addEventListener("click", function () {
            window.location.href = "/home";
        });
    </script>
  </body>
</html>
