{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Create Story</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A500" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A500%2C700" />
    <link rel="stylesheet" href="{% static 'css/ftf_common_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu/create_story_new.css' %}" />
  </head>
  <body class="ftf_background">
    <section class="container">
      <header>
        <img class="go_home_button ftf_hover_button" id="go_home_button" src="{% static 'img/web_page/vector/return icon.png' %}" alt="return_img" />
        <div class="header_text_container">
          <p class="header_text">
            創造一個新故事...<br />
            你需要...
          </p>
        </div>
      </header>
      <div class="select_button_container">
        <div class="item_button_container light_up_button">
          <button type="button" class="item_button ftf_button ftf_hover_button" id="main_role_button"></button>
          <img class="remove_icon" id="main_role_remove_icon" src="{% static 'img/web_page/vector/remove icon 2.png' %}" />
        </div>
        <div class="item_button_container light_up_button">
          <button type="button" class="item_button ftf_button ftf_hover_button" id="sup_role_button"></button>
          <img class="remove_icon" id="sup_role_remove_icon" src="{% static 'img/web_page/vector/remove icon 2.png' %}" />
        </div>
        <div class="item_button_container light_up_button">
          <button type="button" class="item_button ftf_button ftf_hover_button" id="item_button"></button>
          <img class="remove_icon" id="item_remove_icon" src="{% static 'img/web_page/vector/remove icon 2.png' %}" />
        </div>
        <div class="background_image"></div>
        <div id="item-data" data-select-item-page="{{ select_item_page }}" data-create-story-page="{{ create_story_page }}"></div>
      </div>
      <div class="create_button_container">
        <button type="button" class="create_button ftf_button ftf_hover_button" id="create_button">
          <span class="button_text">開始創造故事</span>
        </button>
      </div>
    </section>
    <section class="fixed_container">
      <div class="popup_container" id="popup_container_without_button">
        <div class="popup_content ftf_pink_button">
          <div class="ftf_ring_loading" id="loader"></div>
          <p id="popup_message_without_button">高效生成中...</p>
        </div>
      </div>
    </section>
    <script src="{% static 'js/ftf_common_new.js' %}"></script>
    <script src="{% static 'js/menu/create_story_new.js' %}"></script>
  </body>
</html>
