{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>童話工廠 Item Details</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="{% static 'css/menu/item_details.css' %}">
</head>
<body>
    <div class="prop-character-introduction-Py6">
      <div class="rectangle-10-jXA">
      </div>
      <div class="rectangle-12-sNU">
      </div>
      <div class="group-10-CQj">返回</div>
      <div class="group-10-CQk">選擇</div>
      <img class="rectangle-13-4xk" src="{% static 'img/rectangle-13-8Fv.png' %}"/>
      <div class="item--Cp4">白雪公主</div>
      <div class="item--6eY">
        角色介紹:
        <br/>
        在一個遙遠的村莊裡，有一個善良聰明的小女孩，她戴著一頂鮮豔的紅色帽子，所以大家都叫她小紅帽。小紅帽的奶奶住在村莊邊緣的一間小屋裡....................
      </div>
      <img class="cat-61383661280-2-bzc" src="{% static 'img/cat-61383661280-2-7cx.png' %}"/>
    </div>
    <script>
      document.getElementsByClassName("group-10-CQj")[0].addEventListener("click", function () {
           // 使用 window.location.href 跳轉到目標路由
          window.location.href = "/story/selectitem";
      });
      document.getElementsByClassName("group-10-CQk")[0].addEventListener("click", function () {
           // 使用 window.location.href 跳轉到目標路由
          window.location.href = "/story/createstory";
      });
    </script>
</body>