{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Main Role Details</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
    <link rel="stylesheet" href="{% static 'css/ftf_common_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu/item_details.css' %}" />
  </head>
  <body>
    <div class="main-character-introduction-4MJ">
      <div class="rectangle-10-zVr"></div>
      <div class="rectangle-12-Wyz"></div>
      <div class="group-10-cn7">返回</div>
      <div class="group-10-cn8">選擇</div>
      <img class="rectangle-13-DG8" src="{% static 'img/web_page/background/dreamscape bubble.png' %}" />
      <div class="item--wC8">白雪公主</div>
      <div class="item--QrQ">
        角色介紹:
        <br />
        在一個遙遠的村莊裡，有一個善良聰明的小女孩，她戴著一頂鮮豔的紅色帽子，所以大家都叫她小紅帽。小紅帽的奶奶住在村莊邊緣的一間小屋裡....................
      </div>
      <img class="cat-61383661280-2-hyv" src="{% static 'img/web_page/item/cat on white bg.png' %}" />
    </div>
    <script>
        document.getElementsByClassName("group-10-cn7")[0].addEventListener("click", function () {
            window.location.href = "/story/selectmainrole";
        });
        document.getElementsByClassName("group-10-cn8")[0].addEventListener("click", function () {
            window.location.href = "/story/createstory";
        });
    </script>
  </body>
</html>
