{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Selec Item</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
    <link rel="stylesheet" href="{% static 'css/background_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu/select_item_new.css' %}" />
  </head>
  <body>
    <main>
      <section class="item_list_container">
        <div id="data-container" style="display: none;">
          {% for item in items %}
            <div class="item-data" data-id="{{ item.item_id }}" data-name="{{ item.item_name }}"></div>
          {% endfor %}
        </div>
      </section>
      <section class="item_display_container">
        <div class="image_container ftf_frame">
          <img id="item_image" />
        </div>
        <div class="button_container">
          <button type="button" id="select_button">
            <span class="button_text">選&nbsp;&nbsp;擇</span>
          </button>
          <button type="button" id="home_button">
            <span class="button_text">返&nbsp;&nbsp;回</span>
          </button>
        </div>
      </section>
    </main>
    <script src="{% static 'js/menu/select_item_new.js' %}"></script>
  </body>
</html>
