{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Prop</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="{% static 'css/menu/select_item.css' %}">
</head>
<body>
    <div class="prop-ZBz">
      <div class="item--g1i">
        <div class="auto-group-sydi-Lrx">毒蘋果</div>
        <div class="auto-group-vjmz-EhS">玻璃鞋</div>
        <div class="rectangle-16-MGG">
        </div>
        <div class="rectangle-15-Wex">
        </div>
        <div class="rectangle-17-Gu2">
        </div>
      </div>
      <img class="cat-61383661280-2-pQk" src="{% static 'img/cat-61383661280-2-8n8.png' %}">
    </div>
    <script>
      document.getElementsByClassName("auto-group-sydi-Lrx")[0].addEventListener("click", function () {
           // 使用 window.location.href 跳轉到目標路由
          window.location.href = "/story/suproledetails";
      });

      document.getElementsByClassName("auto-group-vjmz-EhS")[0].addEventListener("click", function () {
           // 使用 window.location.href 跳轉到目標路由
          window.location.href = "/story/suproledetails";
      });
  </script>
</body>