
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.user-information-b96 {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 190, 190, 0.7099999785);
  filter: blur(0.2rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.user-information-b96 .rectangle-10-X2k {
  width: 80rem;
  height: 93.3rem;
  position: absolute;
  left: 9.7rem;
  top: 7.3rem;
  background-color: #d6a982;
  border-radius: 3.5rem;
}
.user-information-b96 .item--Rdv {
  width: 15.4rem;
  height: 9.3rem;
  position: absolute;
  left: 20.7rem;
  top: 15.4rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.user-information-b96 .item--bgp {
  width: 8.7rem;
  height: 7rem;
  position: absolute;
  left: 23.4rem;
  top: 31.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.user-information-b96 .item--H3r {
  width: 8.7rem;
  height: 7rem;
  position: absolute;
  left: 30.1rem;
  top: 39.1rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.user-information-b96 .item--Nb6 {
  width: 8.7rem;
  height: 7rem;
  position: absolute;
  left: 30.1rem;
  top: 55.1rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.user-information-b96 .item--V9v {
  width: 15rem;
  height: 7rem;
  position: absolute;
  left: 30.1rem;
  top: 74rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.user-information-b96 .item--oAc {
  width: 8.7rem;
  height: 7rem;
  position: absolute;
  left: 23.4rem;
  top: 64.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.user-information-b96 .item--V3S {
  width: 8.7rem;
  height: 7rem;
  position: absolute;
  left: 23.4rem;
  top: 48.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #ffffff;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.user-information-b96 .group-10-nYL {
  width: 22.6rem;
  height: 6.2927rem;
  cursor: pointer;
  position: absolute;
  left: 34rem;
  top: 91.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.user-information-b96 .group-11-2ha {
  width: 13rem;
  height: 6.2927rem;
  cursor: pointer;
  position: absolute;
  left: 15.7rem;
  top: 91.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
}
.user-information-b96 .line-1-tzg {
  width: 60.3rem;
  height: 0.2rem;
  position: absolute;
  left: 15.7rem;
  top: 26.1rem;
  background-color: #ffffff;
}
