html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
	width: 192rem;
}.first-main-rGk {
	/* box-sizing: border-box; */
	box-sizing: cover;
	padding: 17.2rem 13.4rem 1.4rem 7.3rem;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 190, 190, 0.7099999785);
	/* background-size: 100% 100%; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/fantasy-74573871280-1-bg.png');
}
.first-main-rGk .item--xag {
	margin-bottom: 41rem;
	width: 100%;
	text-align: center;
	font-size: 12.8rem;
	font-weight: 700;
	line-height: 1.4475;
	color: #ffffff;
	font-family: Zen Maru Gothic, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS {
	width: 100%;
	height: 29.8rem;
	display: flex;
	align-items: flex-end;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S {
	margin: 0rem 78.487rem 0.5rem 0rem;
	width: 72.6134rem;
	height: 18.1rem;
	position: relative;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-2-FCQ {
	width: 72.6134rem;
	height: 17.8112rem;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: flex-start;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-2-FCQ .user-16996351280-2-mwS {
	margin: 0rem 14.5rem 0rem 0rem;
	width: 16.1rem;
	height: 16.7rem;
	cursor: pointer;
	object-fit: cover;
	vertical-align: top;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-2-FCQ .book-3125471280-1-H96 {
	margin-right: 14.5rem;
	width: 14.5134rem;
	height: 17.8112rem;
	cursor: pointer;
	object-fit: cover;
	vertical-align: top;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-2-FCQ .user-16996351280-1-PT2 {
	margin-top: 0rem;
	width: 13rem;
	height: 16.659rem;
	cursor: pointer;
	object-fit: cover;
	vertical-align: top;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-1-iEQ {
	width: 70rem;
	height: 7rem;
	position: absolute;
	left: 2.25rem;
	top: 11.1rem;
	display: flex;
	column-gap: 16.15rem;
	align-items: center;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-1-iEQ .item--EiY {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.8rem;
	font-weight: 700;
	line-height: 1.4475;
	color: #ffffff;
	font-family: Zen Maru Gothic, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-1-iEQ .item--kgt {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.8rem;
	font-weight: 700;
	line-height: 1.4475;
	color: #ffffff;
	font-family: Zen Maru Gothic, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-bgha-L5S .frame-1-iEQ .item--HB2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.8rem;
	font-weight: 700;
	line-height: 1.4475;
	color: #ffffff;
	font-family: Zen Maru Gothic, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}
.first-main-rGk .auto-group-cze4-TXS .auto-group-skme-Con {
	width: 20.2rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 6.4rem;
	font-weight: 700;
	line-height: 1.4475;
	color: #ffffff;
	font-family: Zen Maru Gothic, 'Source Sans Pro';
	white-space: nowrap;
	box-shadow: 0.4rem 0.8rem 0.4rem rgba(0, 0, 0, 0.75);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/cat-61383661280-1-bg.png');
	flex-shrink: 0;
}