body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: purple;
    text-align: center;
    padding: 20px 0;
}

.title {
    color: white;
    font-size: 4vw;
}

.login-form {
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
}

.login-form input, .login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-form button {
    background-color: gold;
    border: none;
    font-size: 1.2em;
}

.hint {
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (min-width: 600px) {
    .title {
        font-size: 3rem; /* Adjust title size on larger screens */
    }
}
