
#main_select_table {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 550px;
    height: 550px;
    left: 8%;
    top: 12%;
    background-color: #D6A982;
    /* 使用 background-image 屬性 */
    background-image: url("img/story_show.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#main_information_title{
    z-index: 2;
    position: absolute;
    color: aliceblue;
    left: 70%;
    top: 15%;
    font-size:180%;
    text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

#main_information{
    z-index: 2;
    position: absolute;
    color: aliceblue;
    left: 54%;
    right: 4%;
    top: 60%;
    font-size:180%;
    text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000,
    -1px 1px 0 #000, 
    1px 1px 0 #000;
}

#story_show_gohome {
    z-index: 2;
    position: absolute;
    left: 75%;
    top: 108%;
}
#story_show_gohome input {
    padding: 2px; /* 設定按鈕的內間距，可根據需要調整 */
    min-height: 15px;
    min-width: 90px;
    font-size: 18px; /* 設定按鈕文字大小，可根據需要調整 */
    font-weight: bold;
}

#story_show_save {
    z-index: 2;
    position: absolute;
    left: 87%;
    top: 108%;
}
#story_show_save input {
    padding: 3.5px; /* 設定按鈕的內間距，可根據需要調整 */
    min-height: 15px;
    min-width: 90px;
    font-size: 18px; /* 設定按鈕文字大小，可根據需要調整 */
    font-weight: bold;
}


#previous_tage{  /*左邊箭頭*/
    z-index: 2;
    position: absolute;
    color: aliceblue;
    left: 1%;
    top: 50%;
}

#story_show_surcold_left{
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
}

#story_show_left{
    z-index: 3;
    position: absolute;
    width: 40px;
    height: 50px;
}

#next_page{  /*右邊箭頭*/
    z-index: 2;
    position: absolute;
    color: aliceblue;
    right: 4%;
    top: 50%;
}

#story_show_surcold_right{
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
}

#story_show_right{
    z-index: 3;
    position: absolute;
    width: 40px;
    height: 50px;
}