{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>童話工廠 User Info</title>
    <link rel="stylesheet" href="{% static 'css/ftf_common_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user_info_1_new.css' %}" />

    <body>
      <div id="form_container">
        <div class="word_style" id="title_container">個人資訊</div>
        <br />
        <div id="content_container">
          <form action="">
            <div id="word_1_container">
              <label class="word_style" for="nickname">暱稱:</label>
              <input class="word_style" type="text" disabled="disabled" id="nickname" name="nickname" value="" /><br />
              <br />
              <label class="word_style" for="account">帳號:</label>
              <input class="word_style" type="text" disabled="disabled" id="account" name="account" value="" /><br />
              <br />
              <label class="word_style" for="password">密碼:</label>
              <input class="word_style" type="password" disabled="disabled" id="password" name="password" value="" /><br />
              <br />
            </div>
            <div id="word_2_container">
              <a href="/home"><input class="word_style" type="button" onclick="" value="返回" /></a>
              <a href="/user/userinfo2"><input class="word_style" type="button" value="編輯" /></a>
            </div>
          </form>
        </div>
      </div>
    </body>
  </head>
</html>
