{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/background_new.css' %}" />
  </head>
  <body>
    <div class="background_container">
      <main>
        <div class="header_container">
          <h1 class="header_content">
            <strong>童話工廠</strong>
          </h1>
          <p class="header_content">
            <strong>
              讓我們來實現<br />
              實現你幻想中的完美童話 . . .
            </strong>
          </p>
        </div>
        <div class="button_container">
          <div class="item_button_container">
            <div class="item_button light_up_button" id="about_us_button">
              <div class="button_icon">
                <img src="{% static 'img/item/chat.png' %}" alt="about_us" />
              </div>
              <div class="button_text">
                <p><strong>關於我們</strong></p>
              </div>
            </div>
            <div class="item_button light_up_button" id="user_info_button">
              <div class="button_icon">
                <img src="{% static 'img/item/user.png' %}" alt="user" />
              </div>
              <div class="button_text">
                <p><strong>個人資訊</strong></p>
              </div>
            </div>
            <div class="item_button light_up_button" id="collect_button">
              <div class="button_icon">
                <img class="book_image" src="{% static 'img/item/book.png' %}" alt="books" />
              </div>
              <div class="button_text">
                <p><strong>故事收藏</strong></p>
              </div>
            </div>
          </div>
          <div class="start_button_container">
            <div class="start_button light_up_button" id="start_button">
              <div class="button_icon">
                <img class="cat_image" src="{% static 'img/item/cat.png' %}" alt="cat" />
              </div>
              <div class="button_text">
                <h2>
                  <strong>故事開始</strong>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
        function redirectTo(path) {
            window.location.href = `${path}`;
        }
        document.getElementById("about_us_button").addEventListener("click", () => redirectTo("/aboutus"));
        document.getElementById("user_info_button").addEventListener("click", () => redirectTo("/user/userinfo1"));
        document.getElementById("collect_button").addEventListener("click", () => redirectTo("/story/mystorybooks"));
        document.getElementById("start_button").addEventListener("click", () => redirectTo("/story/createstory"));
  </script>
  </body>
</html>
