
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.sup-character-introduction-aur {
  overflow: hidden;
  background-color: rgba(255, 190, 190, 0.7099999785);
  width: 100%;
  height: 108rem;
  position: relative;

  .rectangle-10-7un {
    width: 90rem;
    height: 100rem;
    position: absolute;
    left: 4.3rem;
    top: 4rem;
    background-color: #ffdec2;
  }
  .rectangle-12-fAc {
    top: 7.2rem;
    background-color: #fbb2e2;
    border-radius: 3.5rem;
    width: 81.9rem;
    height: 93.7rem;
    position: absolute;
    left: 8.3rem;
  }
  .group-10-Bue {
    justify-content: center;
    position: absolute;
    top: 94.6rem;
    color: #000000;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #b2f7fb;
    border-radius: 1.5rem;
    display: flex;
    font-size: 2.4rem;
    height: 4.5rem;
    line-height: 1.4475;
    left: 75.2rem;
    align-items: center;
    font-weight: 700;
    width: 11.9rem;
    cursor: pointer;
  }
  .rectangle-13-eHS {
    top: 19.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 75rem;
    height: 45rem;
    position: absolute;
    left: 11.8rem;
  }
  .item--n8k {
    width: 15.4rem;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    white-space: nowrap;
    top: 10.2rem;
    font-weight: 700;
    height: 9.3rem;
    position: absolute;
    left: 16.7rem;
    display: flex;
    font-size: 6.4rem;
    line-height: 1.4475;
  }
  .item--sR6 {
    width: 73.5rem;
    left: 11.6rem;
    line-height: 1.4475;
    display: flex;
    font-size: 3.6rem;
    font-weight: 700;
    color: #000000;
    font-family: Zen Maru Gothic, 'Source Sans Pro';
    height: 20.9rem;
    position: absolute;
    top: 68.65rem;
  }
  .cat-61383661280-2-aip {
    width: 81.4rem;
    height: 81.4rem;
    position: absolute;
    left: 102.4rem;
    top: 13.3rem;
    object-fit: cover;
    vertical-align: top;
  }
}
