@font-face {
  font-family: "自定義字體";
  src: url("/static/fonts/清松手寫體/tw/JasonHandwriting1-SemiBold.ttf") format("truetype");
  /* src: url("/static/fonts/清松手寫體/webfont/JasonHandwriting3-Light.woff") format("truetype"); */
  /* src: url("/static/fonts/清松手寫體/webfont/JasonHandwriting5.woff2") format("truetype"); */
  /* src: url("/static/fonts/新蒂蠟筆體/HanyiSentyCrayon.ttf") format("truetype"); */
  /* src: url("/static/fonts/字嗨注音標楷/BpmfZihiKaiStd-Regular.ttf") format("truetype"); */
  /* src: url("/static/fonts/注音芫荽/BpmfIansui-Regular.ttf") format("truetype"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "自定義注音字體";
  src: url("/static/fonts/注音芫荽/BpmfIansui-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  font-family: "自定義字體", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.ftf_background {
  background-image: url("/static/img/background/mystic chronicles.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.light_up_button {
  position: relative;
}

.light_up_button::before {
  content: ""; /* 添加一個偽元素，用於創建發光效果 */
  position: absolute; /* 設置偽元素為絕對定位 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1vh 1vw;
  border-radius: 12%; /* 將偽元素設置為圓角方形 */
  background-color: rgba(255, 255, 255, 0.2); /* 設置偽元素的背景顏色，可以自行調整顏色和不透明度 */
  /* 添加動畫效果，實現閃爍效果 */
  /* animation: glow 2s infinite alternate; */
  /* 使用光暈動畫，無限循環 */
  animation: glowing 6s infinite;
  pointer-events: none;
}

@keyframes glow {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px rgba(255, 219, 157, 0.5); /* 初始陰影，透明度較低 */
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 219, 157, 0.8); /* 高亮陰影，透明度較高 */
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 219, 157, 0.5); /* 回到初始陰影 */
  }
}

/* 相框樣式 */
.ftf_frame {
  border: 0.45vw solid white;
  border-radius: 3vw;
  padding: 1vw;
  border-width: 1vw;
  border-style: solid;
  border-color: #2F2D2D #434040 #4F4C4C #434040;
  background: #f5f5f5;
  background-image: linear-gradient(#1b1b1b, #333333);
  box-shadow: inset 0 0.2vw 0.5vw rgba(0,0,0,.6), 0 0.5vw 0.2vw rgba(0,0,0,.1), 0 1vw 2vw rgba(0,0,0,.8);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* 反光效果 */
.ftf_frame::before {
  /* border: 0.5rem solid red; */
  content: "";
  position: absolute;
  top: -29vh;
  right: -19vw;
  width: 40vw;
  height: 40vh;
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  -moz-transform: rotateZ(-40deg);
  -o-transform: rotateZ(-40deg);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,0));
}

.ftf_button {
  border-color: #ede3d3;
  border-width: 0.3vw;
  border-radius: 3vw;
  background: linear-gradient(#ffc366, #bc7a7a);
  cursor: pointer;
  text-align: center;
  border-radius: 3vmin;
}

.ftf_hover_button:hover {
  transform: scale(1.05); /* 鼠標懸停時放大 */
  transition: transform 0.3s ease-in-out;
}

.ftf_pink_button {
  border: 0.45vw solid white;
  border-radius: 3vw;
  padding: 4.5vmin;
  border-width: 0.9vmin;
  border-style: solid;
  border-color: #ffcbcb #cb9b9b #bca9a9 #ffd2d2;
  /* border-color: #ffc8da #c68198 #9e586e #fdaac5; */
  background: #f5f5f5;
  background-image: linear-gradient(#ff4984, #d9d9d9);
  box-shadow: inset 0 0.2vw 0.5vw rgba(0,0,0,.6), 0 0.5vw 0.2vw rgba(0,0,0,.1), 0 1vw 2vw rgba(0,0,0,.8);  
  color: aliceblue;
  -webkit-text-stroke-width: 0.01vmin;
  -webkit-text-stroke-color: rgb(48, 48, 48);
}

.ftf_clock_loading, .ftf_ring_loading {
  position: relative; /* 確保時鐘中心點可以放置時針 */
  border: 1vmin solid #f3f3f3; /* 時鐘外圈 */
  border-radius: 50%;
  height: 18vmin;
  width: 18vmin; /* 確保時鐘為圓形 */
  background-color: white; /* 時鐘背景顏色 */
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2); /* 給時鐘添加一些深度 */
}

.ftf_clock_loading:before {
  content: '';
  position: absolute;
  top: 10%;
  left: 48%; /* 時針位置調整 */
  height: 40%; /* 時針長度 */
  width: 4%; /* 時針寬度 */
  background-color: rgb(255 0 106); /* 時針顏色 */
  border-radius: 5px; /* 時針邊緣圓滑 */
  transform-origin: 50% 100%; /* 確保時針從底部中心旋轉 */
  animation: clockwise 3s linear infinite; /* 調整旋轉速度為每 5 秒轉一圈 */
}

.ftf_ring_loading:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 2%;
  width: -webkit-fill-available;
  border: 1vmin solid rgb(255 101 165);
  border-top: 1vmin solid rgb(255 0 106);
  border-radius: 50%;
  height: 7vmin;
  transform-origin: 50% 100%;
  animation: clockwise 2s linear infinite;
}

@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes counterclockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeAndRotate {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

@keyframes dayAndNightAlternation {
  0% {
    background-color: rgba(0, 0, 0, 0.175);
    backdrop-filter: blur(0.01rem);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(0.75rem);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.175);
    backdrop-filter: blur(0.01rem);
  }
}
