body {
  /* border: 1px solid red; */
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('/static/img/background/mystic chronicles.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: 1rem;
  /* border: 1px solid red; */
  height: 95.5vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header, .button_container {
  /* border: 1px solid red; */
  margin: 1rem;
  flex: 1;
}

.select_button {
  /* border: 1px solid red; */
  margin: 0 1rem;
  flex: 2;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.button_container {
  width: 15%;
  /* border: 1px solid red; */
  margin: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_button_container {
  width: auto;
}

.middle_button_container {
  margin: 1rem 0;
}

.item_button, .create_button {
  border-color: antiquewhite;
  border-width: 0.3rem;
  border-radius: 3rem;
  width: 54%;
  height: 35%;
  background-color: #d6a982;
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_button {
  width: 30%;
  height: 62%;
}

.button_text {
  font-size: 117.5%;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: '自定義字體', sans-serif;
}

.item_button:focus {
  outline: none;
}

.background_image {
  /* border: 1.5px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(55.61% 55.61% at 50% 49.95%, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/static/img/background/dreamscape bubble.png');
  border-radius: 10rem;
  opacity: 0.4;
  transition: opacity 0.3s;
  z-index: -1;
}

.select_button:hover .background_image {
  opacity: 0.6;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header_text {
  /* border: 1px solid red; */
  margin: 0;
  padding-left: 10%;
  height: 13vh;
  font-size: clamp(2rem, 3vw, 2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(48, 48, 48);
  font-family: '自定義字體', sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
    height: auto;
  }

  header, .button_container {
    margin: 0.5rem;
  }

  .button_container {
    margin: 0.5rem;
  }

  .middle_button_container {
    margin: 0.5rem 0;
  }

  .select_button {
    margin: 0 0.5rem;
  }

  .item_button, .create_button {
    width: 100%;
    border-width: 0.22rem;
    height: 25%;
  }

  .create_button {
    width: 62.5%;
    height: 40%;
  }

  .button_text {
    font-size: 65%;
  }

  .header_text {
    font-size: clamp(1.65rem, 3vw, 2rem);
  }
}
