.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  margin: 2.5vh 1vw;
}

header,
.create_button_container,
.select_button_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: relative;
}

.select_button_container {
  justify-content: space-evenly;
}

.item_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19vw;
  height: 35vmin;
  position: relative;
}

.light_up_button::before {
  border-radius: 3vmin;
  margin: 0;
}

.item_button,
.create_button {
  font-size: 2.5vh;
  padding: 1.5vh 3vw;
}

.item_button {
  width: 100%;
  height: 100%;
  background: initial;
  color: antiquewhite;
  -webkit-text-stroke-width: 0.07vmin;
  -webkit-text-stroke-color: #d6a982;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5vw;
  font-size: clamp(2.75vmin, 2.75vmin, 2.5vmin);
  letter-spacing: 0.5vmin;
  line-height: 7vh;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+, Edge */
}

.item_button::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.item_button .button_text {
  flex-grow: 1;
  font-size: 5.25vmin;
}

.remove_icon {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
  background: linear-gradient(rgba(255, 195, 102, 1), rgba(207, 200, 189, 0.8));
  border-radius: 25%;
  width: 4vmin;
  height: 4vmin;
  padding: 0.5vmin;
}

.background_image {
  border: 0.25vh solid white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%);
  background-size: cover;
  background-position: center;
  background-image: url("/static/img/web_page/background/dreamscape bubble.png");
  border-radius: 18vw;
  opacity: 0.4;
  transition: opacity 0.3s;
  z-index: -1;
}

#page-data {
  display: none;
}

.select_button_container:hover .background_image {
  opacity: 0.6;
}

.go_home_button {
  height: 5vmin;
  position: absolute;
  top: 10%;
  left: 2%;
  cursor: pointer;
}

.go_home_button.ftf_hover_button:hover {
  transform: scale(1.17);
}

.show_command_button {
  width: 7vmin;
  height: 7vmin;
  position: absolute;
  top: 10%;
  right: 2%;
  cursor: pointer;
}

.show_command_button.ftf_hover_button:hover {
  transform: scale(1.17);
}

.header_text_container {
  padding: 0 3.5vw;
}

.header_text,
.button_text {
  font-size: clamp(4.5vmin, 2.5vmin, 2.5vmin);
}

.header_text {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1vh;
  -webkit-text-stroke-color: rgb(48, 48, 48);
}

.create_button .button_text {
  color: #fff1da;
  -webkit-text-stroke-width: 0.01vmin;
  -webkit-text-stroke-color: #d6a982;
}

.fixed_container {
  position: fixed;
}

.popup_container {  /*右上視窗外底色*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup_loading_container {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(0.75rem);
  animation: dayAndNightAlternation 30s infinite alternate;
}

.popup_content {  /*右上視窗*/
  height: 33vmin;
  width: 33vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 0.5vmin;
}

.popup_container .ftf_pink_button {
  border-radius: 9.5vmin;
  padding: 1.5vmin;
}

.loading_earth {
  height: 62vmin;
  width: 62vmin;
  background-image: url('/static/img/web_page/item/loading.png');
  background-size: cover; /* 調整背景圖片大小以覆蓋整個容器 */
  background-position: center; /* 將背景圖片置中 */
  display: none; /* 預設不顯示，通過 JS 控制顯示 */
  transform-origin: 50% 50%; /* 確保時針從中心旋轉 */
  animation: fadeAndRotate 30s linear infinite;
}

.popup_content p {
  text-align: justify;
  font-size: clamp(3vmin, 2.5vmin, 2.5vmin);
}

#popup_loading_message {
  font-size: clamp(5.5vmin, 3.75vmin, 2.5vmin);
  color: white;
  -webkit-text-stroke-width: 0.075vh;
  -webkit-text-stroke-color: rgb(48, 48, 48);
  transform-origin: 50% 50%; /* 確保時針從中心旋轉 */
  animation: clockwise 30s linear infinite; /* 調整旋轉速度為每 5 秒轉一圈 */
}

#popup_command_container .popup_content {
  border-radius: 3vmin;
  border-style: solid;
  width: 80vw;
  height: 85vh;
  padding: 1.5vh 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: initial;
  align-items: initial;
  justify-content: initial;
  text-align: initial;
  flex-wrap: nowrap;
}

#popup_command_container .ftf_button{
  cursor:auto;
}


#popup_message_container {
  padding: 7.5vmin;
  font-size: clamp(2.75vmin, 2.5vmin, 2.5vmin);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.1vh;
  -webkit-text-stroke-color: rgb(48, 48, 48);
  letter-spacing: 0.55vmin;
  line-height: 6vh;
  overflow-y: auto;
  white-space:break-spaces;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-button {
  display: none;
}

#popup_command_container .remove_icon {
  display: flex;
  top: 1.8vmin;
  left: 1.8vmin;
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .item_button_container {
    width: 27.5vmin;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .item_button_container {
    width: 25.5vmin;
  }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
  .item_button_container {
    width: 23vmin;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow: unset;
  }

  .item_button_container {
    font-size: 4vw;
    width: 23vmin;
  }
  
  .create_button {
    font-size: 4vw;
    padding: 2vw;
  }

  .header_text,
  .button_text {
    font-size: 5vw;
  }

  .header_text {
    -webkit-text-stroke-width: 0.075vh;
    -webkit-text-stroke-color: rgb(48, 48, 48);
  }

  .go_home_button {
    height: 5.5vw;
  }

  .show_command_button {
    height: 5.5vw;
  }
}
