
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.prop-character-introduction-Py6 {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 190, 190, 0.7099999785);
}
.prop-character-introduction-Py6 .rectangle-10-jXA {
  width: 90rem;
  height: 100rem;
  position: absolute;
  left: 4.3rem;
  top: 4rem;
  background-color: #ffdec2;
}
.prop-character-introduction-Py6 .rectangle-12-sNU {
  width: 81.9rem;
  height: 93.7rem;
  position: absolute;
  left: 8.3rem;
  top: 7.2rem;
  background-color: #fbb2e2;
  border-radius: 3.5rem;
}
.prop-character-introduction-Py6 .group-10-CQj {
  width: 11.9rem;
  height: 4.5rem;
  cursor: pointer;
  position: absolute;
  left: 60.7rem;
  top: 94.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #b2f7fb;
  border-radius: 1.5rem;
}
.prop-character-introduction-Py6 .group-10-CQk {
  width: 11.9rem;
  height: 4.5rem;
  cursor: pointer;
  position: absolute;
  left: 75.2rem;
  top: 94.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #b2f7fb;
  border-radius: 1.5rem;
}
.prop-character-introduction-Py6 .rectangle-13-4xk {
  width: 75rem;
  height: 45rem;
  position: absolute;
  left: 11.8rem;
  top: 19.5rem;
  object-fit: cover;
  vertical-align: top;
}
.prop-character-introduction-Py6 .item--Cp4 {
  width: 15.4rem;
  height: 9.3rem;
  position: absolute;
  left: 16.7rem;
  top: 10.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
  white-space: nowrap;
}
.prop-character-introduction-Py6 .item--6eY {
  width: 73.5rem;
  height: 20.9rem;
  position: absolute;
  left: 11.6rem;
  top: 68.65rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  font-family: Zen Maru Gothic, 'Source Sans Pro';
}
.prop-character-introduction-Py6 .cat-61383661280-2-bzc {
  width: 81.4rem;
  height: 81.4rem;
  position: absolute;
  left: 102.4rem;
  top: 13.3rem;
  object-fit: cover;
  vertical-align: top;
}
