main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95vh;
  padding: 2.5vh 1vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_list_container {
  margin: 2.5vh 0 2.5vh 1.5vw;
  border-radius: 4.5vw;
  display: flex;
  flex-direction: column;
  flex: 110;
  background-color: rgba(152, 152, 152, 0.25);
  backdrop-filter: blur(0.2rem);
}

.header_container {
  border-color: #ede3d3;
  border-width: 0.2vw;
  border-radius: 4.5vw 4.5vw 0px 0px;
  border-style: outset;
  background-color: rgba(152, 152, 152, 0.25);
  backdrop-filter: blur(0.1rem);
  width: -webkit-fill-available;
  box-shadow: inset 0 0.2vw 0.5vw rgba(0, 0, 0, 0.6), 0 0.5vw 0.2vw rgba(0, 0, 0, 0.1), 0 1vw 2vw rgba(0, 0, 0, 0.8);
  padding: 3vh 0;
  font-size: clamp(1vmin, 3.75vmin, 8vmin);
  color: rgb(247, 241, 231);
  -webkit-text-stroke: 0.01vmin rgb(214, 169, 130);
  display: flex;
  justify-content: space-evenly;
}

.list_container {
  width: -webkit-fill-available;
  padding: 0 0 4.25vh 0.75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.item_name {
  margin-top: 3.5vh;
  padding: 1.75vh 3vw;
  width: 40vw;
  font-size: clamp(1vmin, 3vmin, 8vmin);
  letter-spacing: 0.5vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  transition: font-size 0.5s ease-in-out;
  /* 按鈕樣式設計 */
  border-color: #ede3d3;
  border-width: 0.3vw;
  border-radius: 3vw;
  background: linear-gradient(#ffc366, #bc7a7a);
  border-style: outset;
  cursor: pointer;
}

.item_name:not(.active):hover {
  transform: scale(1.05); /* 輕微放大 */
  transition: transform 0.3s ease-in-out;
}

.item_info {
  background-color: antiquewhite;
  padding: 1vh 2vw 1.25vh 2vw;
  width: 42vw;
  border-color: antiquewhite;
  border-width: 0.3vw;
  border-style: outset;
  border-radius: 0 0 1.75vw 1.75vw;
  font-family: "自定義注音字體", "自定義字體", sans-serif;
  font-size: clamp(2.75vmin, 2.5vmin, 2.5vmin);
  letter-spacing: 0.5vmin;
  line-height: 7vh;
  justify-content: center;
  transition: font-size 0.5s ease-in-out;
  /* 展開縮合動畫效果 */
  /* display: none; */
  opacity: 0;
  max-height: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
}

.item_info:hover {
  /* 增加動態效果以提升沉浸感 */
  background-color: #f0ebe1; /* 淺色調 */
  color: #333; /* 文字顏色 */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.item_info.active {
  /* 展開縮合動畫效果 */
  /* display: block; */
  opacity: 1;
  max-height: fit-content;
  transform: scaleY(1);
  position: relative;
}

#data-container, #selected_item_id {
  display: none;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

/* ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-button {
  display: none;
}

.item_display_container {
  margin: 2.5vh 1.5vw 2.5vh 0;
  flex: 90;
}

.image_container {
  margin: 3.5vh 2vw 0 2vw;
  width: -webkit-fill-available;
  flex: 4;
}

img {
  width: 100%;
  height: auto;
}

.button_container {
  margin: 3vh 3.5vw;
  width: -webkit-fill-available;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

button {
  font-size: clamp(1vmin, 3vmin, 8vmin);
  flex: 0.25;
  margin: 3vh 0;
  padding: 1vh 2vw;
}

@media screen and (max-width: 600px) {
  /* 針對手機設計的樣式 */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* 針對平板電腦設計的樣式 */
}
