main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95vh;
  padding: 2.5vh 1vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_list_container {
  margin: 2.5vh 0 2.5vh 1.5vw;
  padding: 4.25vh 0;
  border-radius: 4.5vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: space-between;
  flex: 110;
  background-color: rgba(152, 152, 152, 0.25);
  backdrop-filter: blur(0.5rem);
}

.item_name {
  padding: 2vw;
  width: 40vw;
  font-size: clamp(1vw, 2vw, 10vw);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  transition: font-size 0.5s ease-in-out;
  /* 按鈕樣式設計 */
  border: 0.3vw solid antiquewhite;
  border-radius: 3vw;
  background-color: #d6a982;
  cursor: pointer;
}

.item_info {
  border: 0.3vw solid antiquewhite;
  background-color: antiquewhite;
  letter-spacing: 0.3vw;
  line-height: 7vh;
  padding: 2.5vh 2vw;
  width: 40vw;
  border-radius: 0 0 1.75vw 1.75vw;
  font-family: "自定義注音字體", "自定義字體", sans-serif;
  font-size: clamp(1vw, 1.62vw, 8vw);
  justify-content: center;
  transition: font-size 0.5s ease-in-out;
  /* 展開縮合動畫效果 */
  /* display: none; */
  opacity: 0;
  max-height: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
}

.item_info.active {
  /* 展開縮合動畫效果 */
  /* display: block; */
  opacity: 1;
  max-height: fit-content;
  transform: scaleY(1);
  position: relative;
}

.item_info + .item_name {
  margin-top: 3.5vh;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

/* ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-button {
  display: none;
}

.item_display_container {
  margin: 2.5vh 1.5vw 2.5vh 0;
  flex: 90;
}

.image_container {
  margin: 3.5vh 2vw 0 2vw;
  width: -webkit-fill-available;
  flex: 4;
}

img {
  width: 100%;
  height: auto;
}

.button_container {
  margin: 3vh 3.5vw;
  width: -webkit-fill-available;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

button {
  font-size: clamp(1vw, 1.62vw, 8vw);
  flex:0.25;
  margin: 3vh 0;
  padding: 1vh 2vw;
}

@media screen and (max-width: 600px) {
  /* 針對手機設計的樣式 */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* 針對平板電腦設計的樣式 */
}
