html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 192rem;
}

.main-character-exU {
  box-sizing: border-box;
  padding: 7.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255, 190, 190, 0.7099999785);
}

.main-character-exU .item--n36 {
  margin-right: 5rem;
  box-sizing: border-box;
  padding: 8.6rem 7.2rem 8.7rem 7.1rem;
  width: 77.4rem;
  height: 93.3rem;
  row-gap: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d6a982;
  flex-shrink: 0;
}

.main-character-exU .item--n36 .auto-group-sqvl-fMn {
  width: 100%;
  height: 11.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  white-space: nowrap;
  background-color: #ffdec2;
  flex-shrink: 0;
}

.main-character-exU .item--n36 .auto-group-nomn-m9v {
  width: 100%;
  height: 11.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  white-space: nowrap;
  background-color: #ffdec2;
  flex-shrink: 0;
}

.main-character-exU .item--n36 .rectangle-16-g1z {
  width: 100%;
  height: 11.2rem;
  background-color: #ffdec2;
  flex-shrink: 0;
}

.main-character-exU .item--n36 .rectangle-15-S1A {
  width: 100%;
  height: 11.2rem;
  background-color: #ffdec2;
  flex-shrink: 0;
}

.main-character-exU .item--n36 .rectangle-17-Pwz {
  width: 100%;
  height: 11.2rem;
  background-color: #ffdec2;
  flex-shrink: 0;
}

.main-character-exU .auto-group-zlig-MP2 {
  width: 43rem;
  height: 93.3rem;
  position: relative;
  flex-shrink: 0;
}

.main-character-exU .auto-group-zlig-MP3 {
  width: 51.5rem;
  height: 93.3rem;
  position: relative;
  flex-shrink: 0;
}

.main-character-exU .auto-group-zlig-MP2 .rectangle-23-HXa {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  background-size: 96.384% 100%;
  background-position: 1.025rem 0.6rem;
  background-image: url("/static/img/web_page/item/character 1.png");
}

.main-character-exU .auto-group-zlig-MP3 .rectangle-24-njE {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  background-size: 96.384% 100%;
  background-position: 1.025rem 0.6rem;
  background-image: url("/static/img/web_page/item/character 2.png");
}

.main-character-exU .auto-group-zlig-MP3 .group-10-cn7 {
  width: 20rem;
  height: 10rem;
  cursor: pointer;
  position: absolute;
  left: 30.5rem;
  top: 85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.4475;
  color: #000000;
  white-space: nowrap;
  background-color: #b2f7fb;
  border-radius: 1.5rem;
}
