body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}
.container {
  margin: 2.5rem 20rem 5rem 20rem;
}
h1 {
  color: #333;
}
#item-selector {
  width: 36rem;
  padding: 10px;
  margin-bottom: 20px;
}
#item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.5rem;
  height: 20rem;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#item-details h3 {
  color: #007bff;
}
#item-details p {
  color: #666;
  font-size: 16px;
}
/* Responsive Design */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  #item-selector {
    padding: 5px;
  }
}
