{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Select Sup Role</title>
    <link rel="stylesheet" href="{% static 'css/menu/select_item_by_data.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>請選擇配角：</h1>
      <select id="item-selector">
        <option value="-1">請選擇配角</option>
        {% for item in items %}
        <option value="{{ item.item_id }}">{{ item.item_name }}</option>
        {% endfor %}
      </select>
      <div id="item-details"></div>
    </div>
    <script>
        document.getElementById("item-selector").addEventListener("change", function () {
            var itemId = this.value;
            fetch("/story/mainroledetailsbydata?item_id=" + itemId)
                .then((response) => response.json())
                .then((data) => {
                    document.getElementById("item-details").innerHTML = `
                            <h3>角色名稱</h3>
                            <p>${data.item_name}</p>
                            <h3>角色資訊</h3>
                            <p>${data.item_info}</p>
                        `;
                    document.getElementById("item-details").style.height = "auto";
                })
                .catch((error) => console.error("Fetch error:", error));
        });
    </script>
  </body>
</html>
