{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <title>童話工廠 Social Features</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
        <link rel="stylesheet" href="{% static 'css/display/social_features.css' %}" />
    </head>
    <body>
        <div class="story-Y4U">
            <div class="group-13-Tx8">
                <img class="vector-PKz" src="{% static 'img\vector-hTr.png' %}" />
            </div>
            <div class="auto-group-kqbn-KzL">
                <img class="rectangle-10-GPn" src="{% static 'img\rectangle-10-RiC.png' %}" />
                <div class="item--D48">.....的故事</div>
                <div class="item--tRA">在一個遙遠的村莊裡，有一個善良聰明的小女孩，她戴著一頂鮮豔的紅色帽子，所以大家都叫她小紅帽。</div>
                <div class="group-10-Ff2">回到首頁</div>
                <div class="group-11-j4Q">SAVE</div>
                <div class="group-12-bsJ">
                    <img class="vector-KHW" src="{% static 'img\vector-Qfe.png' %}" />
                </div>
                <div class="group-11-eqa">
                    <div class="item--8kk">
                        儲存成功！
                        <br />
                    </div>
                    <img class="done-outline-dhW" src="{% static 'img\done-outline-XMe.png' %}" />
                </div>
            </div>
        </div>
        <script>
            document.getElementsByClassName("group-10-Ff2")[0].addEventListener("click", function () {
                // 使用 window.location.href 跳轉到目標路由
                window.location.href = "/";
            });

            document.getElementsByClassName("done-outline-dhW")[0].addEventListener("click", function () {
                // 使用 window.location.href 跳轉到目標路由
                window.location.href = "story/storybookdisplay";
            });
        </script>
    </body>
</html>
