{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Social Features</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
    <link rel="stylesheet" href="{% static 'css/background_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/display/storybook_display.css' %}" />
  </head>
  <body>
    <div class="story-Y4U">
      <div class="group-13-Tx8">
        <img class="vector-PKz" src="{% static 'img/web_page/vector/previous page.png' %}" />
      </div>
      <div class="auto-group-kqbn-KzL">
        <img class="rectangle-10-GPn" src="{% static 'img/web_page/background/enchanted kingdom.png' %}" />
        <div class="item--D48">.....的故事</div>
        <div class="item--tRA" id="page_no"></div>
        <div class="item--tRB">在一個遙遠的村莊裡，有一個善良聰明的小女孩，她戴著一頂鮮豔的紅色帽子，所以大家都叫她小紅帽。</div>
        <div class="group-10-Ff2" id="home_button">回到首頁</div>
        <div class="group-11-j4Q" id="save_button">SAVE</div>
        <div class="group-12-bsJ">
          <img class="vector-KHW" src="{% static 'img/web_page/vector/next page.png' %}" />
        </div>
        <div class="group-11-eqa" id="home_pop_up" style="display: none;">
          <div class="item--8kk">
            確認是否回到首頁？
            <br />
          </div>
          <div class="item--9kk"></div>
          <img class="done-outline-dhW" id="check_home_button" src="{% static 'img/web_page/vector/check.png' %}" />
        </div>
        <div class="group-11-eqa" id="save_pop_up" style="display: none;">
          <div class="item--8kk">
            確認是否儲存？
            <br />
          </div>
          <div class="item--9kk"></div>
          <img class="done-outline-dhW" id="check_save_button" src="{% static 'img/web_page/vector/check.png' %}" />
        </div>
        <div class="group-12-eqa" id="save_successful_pop_up" style="display: none;">
          <div class="item--8kk">
            儲存成功！
            <br />
          </div>
          <div class="item--9kk"></div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/display/storybook_display.js' %}"></script>
  </body>
</html>
