{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>童話工廠 Social Features</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
    <link rel="stylesheet" href="{% static 'css/background_new.css' %}" />
    <link rel="stylesheet" href="{% static 'css/display/storybook_display_new.css' %}" />
  </head>
  <body>
    <main>
      <section class="display_container">
        <div class="image_container">
          <img src="{% static 'img/web_page/background/whimsy flight.png' %}" alt="" />
        </div>
      </section>
      <section class="info_container">
        <div class="title_container">
          <span class="title">白雪公主</span>
        </div>
        <div class="content_container">
          <div class="story">
            <span>
              在一個遙遠的村莊裡，有一個善良聰明的小女孩，她戴著一頂鮮豔的紅色帽子，所以大家都叫她小紅帽。
            </span>
          </div>
          <div class="page" id="page"></div>
        </div>
        <div class="button_container">
          <button class="go_home_button">回到首頁</button>
          <button class="save_story_button">收藏故事</button>
        </div>
      </section>
    </main>
    <script src="{% static 'js/display/storybook_display_new.js' %}"></script>
  </body>
</html>
