<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Check</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zen+Maru+Gothic%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="static\css\check.css"/>
</head>
<body>
<div class="check-dY8">
  <div class="rectangle-10-y6C">
  </div>
  <div class="rectangle-12-J8U">
  </div>
  <div class="group-10-pcc">選擇</div>
  <img class="rectangle-13-tMa" src="static\img\rectangle-13.png"/>
  <div class="item--Qqi">白雪公主</div>
  <div class="item--VsA">
  角色介紹:
  <br/>
  在一個遙遠的村莊裡，有一個善良聰明的小女孩，她戴著一頂鮮豔的紅色帽子，所以大家都叫她小紅帽。小紅帽的奶奶住在村莊邊緣的一間小屋裡....................
  </div>
  <img class="cat-61383661280-2-1U8" src="static\img\cat-61383661280-2-bue.png"/>
  <div class="rectangle-14-8oe">
  </div>
  <div class="group-11-UMi">
    <img class="clear-mLp" src="static\img\clear.png"/>
    <div class="item--Jbe">
    確認要選擇
    <br/>
    ____？
    </div>
    <img class="done-outline-aJG" src="static\img\done-outline.png"/>
  </div>
  <div class="done-outline-tpk">
    <img class="vector-PmW" src="static\img\vector-uXS.png"/>
  </div>
</div>
</body>